body {
    @apply font-sans leading-normal text-dark-red bg-light-teal;
    font-size: 16px;
}

a {
    @apply .font-semibold no-underline text-dark-teal;

    &:hover {
        @apply text-blue-800 underline;
    }
}

blockquote {
    @apply .border-blue-400;
    @apply .border-l-4;
    @apply .font-normal;
    @apply .italic;
    @apply .my-8;
    @apply .pl-6;
    @apply .text-gray-800;
    @apply .text-lg;
}

code {
    @apply .bg-gray-300;
    @apply .px-2;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
}

code.hljs {
    @apply .bg-transparent;
    @apply .p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply .font-normal;
        @apply .not-italic;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @apply leading-tight mb-4 mt-8 font-serif font-bold text-red;

    &:first-child {
        @apply .mt-0;
    }
}

h1,
.h1 {
    @apply .font-extrabold;
    @apply .text-4xl;
    @screen md {
        @apply text-5xl;
    }
}

h2,
.h2 {
    @apply .font-bold;
    @apply .text-3xl;
    @screen md {
        @apply text-3xl;
    }
}

h3,
.h3 {
    @apply .font-bold;
    @apply .text-2xl;
    @screen md {
        @apply text-3xl;
    }
}

h4,
.h4 {
    @apply .font-normal;
    @apply .text-2xl;
}

h5,
.h5 {
    @apply .font-normal;
    @apply .text-xl;
}

h6,
.h6 {
    @apply .font-light;
    @apply .text-lg;
}

hr {
    @apply border-t-0 border-b border-white opacity-50 my-12 rounded-full;
}

li {
    ul,
    ol {
        @apply .my-0;
        @apply .ml-8;
    }
}

ol,
ul {
    @apply .my-4;
}

ol {
    @apply .list-decimal;
}

ul {
    @apply .list-disc;
}

p {
    @apply .my-2;

    @screen md {
        @apply .my-3;
    }
}

pre {
    @apply .bg-gray-200;
    @apply .leading-loose;
    @apply .my-6;
    @apply .overflow-x-auto;
    @apply .p-4;
    @apply .rounded;
    @apply .shadow;
    @apply .text-base;

    code {
        @apply .bg-transparent;
        @apply .block;
        @apply .p-0;
    }
}

::selection {
    @apply .bg-blue-500;
    @apply .text-white;
}

.btn,
a.btn,
input[type=submit] {
    @apply inline-flex items-center justify-center p-4 bg-white text-dark-teal cursor-pointer font-bold;
    transition: 300ms ease;

    &:hover {
        @apply no-underline bg-teal text-white;
    }
}

.bg-img,
.bg-img > img {
    @apply absolute w-full h-full left-0 right-0 top-0 bottom-0 block z-0;
    object-fit: cover;
    object-position: center;

    &.bottom > img{
        object-position: center bottom;
    }
}